<p>
  <strong>name:</strong>
  <%= article.name %>
</p>

<p>
  <strong>article:</strong>
  <%= article.body %>
</p>

<p>
  <%= link_to 'Destroy Article', [article.customer, article],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>