<p>
  <strong>name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @customer.text %>
</p>

<h2>articles</h2>
<%= render @customer.articles %>

<h2>Add a article:</h2>
<%= form_with(model: [ @customer, @customer.articles.build ], local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>